@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: add any custom global styles below */
html,body,#root {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: #f7fafc;
}
